html,body{
    font-size: 21px;
    background-color: #36486b;
}
.grid1{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "grid1-sub1 grid1-sub2 grid1-sub3";
    text-align: center;
}





.grid2{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "grid2-image1 grid2-image2 grid2-image3";
}

section.image1{
    grid-area: image1;

}

section.image2{
    grid-area: image2;
}

section.image3{
    grid-area: image3;

}


.grid3.section.content3{


}

section.content2 {
    background-color:red;
    grid-area:content2;
}

.grid3 {
    display:grid;
    grid-gap: 1.4rem;
    grid-row-gap: 1.4rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "content2 content2 content2 content3"
    "content2 content2 content2 content2";
}
