html,body{
    font-size: 21px;
    background-color: #36486b;
}
/* main{
    color: #F4E7E7;
} */
 #Mantra{
     text-align: center;
 }

#Part1{
    text-align: center;
    font-family: "Shadows Into Light";
}
#Part2{
    text-align: center;
    font-family: "Shadows Into Light";
}
#Part3{
    text-align: center;
    font-family: "Shadows Into Light";
}
.grid_container1{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "grid1-sub1 grid1-sub2 grid1-sub3"
        "grid1-sub1 grid1-sub2 grid1-sub3";
    text-align: center;
    font-size: 100px;
    font-family: 'Great Vibes', cursive;
}

.grid_container1 .sub1 {
    grid-area: grid1-sub1;
}
.grid_container1 .sub2 {
    grid-area: grid1-sub2;
}
.grid_container1 .sub3 {
    grid-area: grid1-sub3;
}



.grid_container2{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "grid2-image1 grid2-image2 grid2-image3";
    margin: center;
}

#Coachella2019{
    display: inline-grid;
    height: 400px;
    width:400px;
}
#Laces{
    display: inline-grid;
    height: 400px;
    width: 400px;
}
#Porter{
    display: inline-grid;
    height: 400px;
    width: 400px;
}

.grid_container3 {
    display: grid;
    grid-gap:1.4rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "grid3-Heading1 grid3-Heading2 grid3-Heading3";
    text-align: center;
    margin:20px;
}

.grid_container4{
    display: grid;
    grid-gap: 2rem;
    font-family: "Shadows Into Light";
    margin: 20px;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "miami-list miami-picture"
        "nyc-list nyc-picture";
}

.concert_sub1 {
    grid-area: miami-list;
    text-align: center;
    border: 2px solid yellow;
}

.concert_sub2 {
    grid-area: miami-picture;
    text-align: center;

}
#Ultra{
    display: inline-grid;
    height: 400px;
    width:600px;
}
#Peep{
    display: inline-grid;
    height:400px;
    width:600px;
}
.concert_sub3 {
    grid-area: nyc-list;
    text-align: center;
}

.concert_sub4 {
    grid-area: nyc-picture;
    text-align: center;
    border: 2px solid yellow;
}


.grid_container5{
    display:grid;
    grid-gap:2rem;
    font-family: "Shadows Into Light";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "miafest-list miafest-picture"
        "nycfest-list nycfest-picture";
}
#ezoonyc{
    height: 450px;
    width: 600px;
}
#Miamioutside{
    height: 450px;
    width: 600px;
}
.Festie_sub{
    grid-area: miafest-list;
    text-align: center;
    border: 2PX solid yellow;

}
.Festie_sub1{
    grid-area: miafest-picture;
    text-align: center;
}
.Festie_sub2{
    grid-area: nycfest-list;
    text-align: center;
}
.Festie_sub3{
    grid-area: nycfest-picture;
    text-align: center;
    border: 2px solid yellow;
}

.grid_container6{
    display: grid;
    grid-gap: 2rem;
    font-family: "Shadows Into Light";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "todo todont must"
        "todopic todontpic tomustpic";
}
.Dosub{
    grid-area: todo;
    text-align: center;
    border: 3px solid green;
}
.Dontsub{
    grid-area: todont;
    text-align: center;
    border: 3PX solid red;
}
.Mustsub{
    grid-area: must;
    text-align: center;
    border: 3px solid white;
}
.Docontent{
    grid-area: todopic;
}
.Dontcontent{
    grid-area: todontpic;
}
.Mustcontent{
    grid-area: tomustpic;
}
