html,body{
    background-color: #36486b;
}
.grid1{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "grid-sub1 grid-sub2 grid-sub3";

}


.grid2{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "grid-image1 grid-image2 grid-image3";

}

.grid3{
    display:grid;
    grid-gap:1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "grid-content1 grid-content2 grid-content3 grid-content4"
}
