header {
    margin-top: 10%;
}

.bey {
    margin-top: 40%;
}

.drakey {
    background-image: url(images/beyonce1.jpg);
}

.grid-contain1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "high skl scks"
        "yes we kno";
}

.contain1sub1 {
    grid-area: high;
}

.contain1sub2 {
    grid-area: skl;
}

.contain1sub3 {
    grid-area: scks;
}

.contain1sub4 {
    grid-area: yes;
}

.contain1sub5 {
    grid-area: we;
}

.contain1sub6 {
    grid-area: kno;
}