@media only screen and (max-width:750px) {
    html, body {
        background: white;
        margin-left: : -10%;
        margin-right: -11%;
    }

    header {
        width: auto;
        height: 500px;
    }

    nav a {
        text-align: center;
        margin-right: 2%;
        margin-left: 2%;
    }

    .drakey {
        margin-right: 8;
        margin-left: 8%;
        background-size: contain;
    }

    .grid-contain1 {
        display: grid;
        text-align: center;
        margin-left: 8%;
        margin-right: 8%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "high"
            "skl"
            "scks";
    }

    h1 {
        margin-right: 5%;
    }

    .contain1sub1 {
        grid-area: high;
    }

    .contain1sub2 {
        grid-area: skl;
    }

    .contain1sub3 {
        grid-area: scks;
    }
}