@media only screen and (max-width:750px) {
    html, body {
        background: white;
        margin-left: : -40%;
        margin-right: -40%;
    }

    header {
        width: auto;
        height: 500px;
    }

    nav a {
        text-align: center;
        margin-right: 2%;
        margin-left: 2%;
    }

    ,
    .drakey {
        /* margin-right: 10%;
        margin-left: 10%; */
        background-size: contain;
    }

    .grid-contain1 {
        display: grid;
        text-align: center;
        grid-column-gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "high"
            "skl"
            "scks";
    }
}