@media only screen and (max-width:750px) {
    html, body {
        background: white;
        margin-left: : -20%;
        margin-right: -20%;
    }

    header {
        width: auto;
        height: 500px;
    }

    nav a {
        text-align: center;
        margin-right: 2%;
        margin-left: 2%;
    }

    .drakey {
        /* margin-right: 10%;
        margin-left: 10%; */
        background-size: contain;
    }
}