html, body {
    background-color: #C0C0C0;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
    font-family: "Hind Madurai";
}

nav {
    width: 100%;
    text-align: center;
    font-style: bold;
    font-size: 22px;
}

header {
    width: auto;
    height: 500px;
}

nav a {
    margin-right: 5%;
    margin-left: 5%;
}

a, a :link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: line-through;
    font-weight: 900 bolder;
    /* color: #33FF33; */
    color: white;
}

a:hover {
    text-decoration: underline;
    color: black;
}

a:active {
    text-decoration: underline;
}

#heading-main {
    color: #FFCC66;
    margin-bottom: 5%;
}

#minimain {
    background-color: #FFCC66;
}

h1 {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 8%;
}

.beyonce {
    background-image: url("images/beyonce2.jpg");
}

.navigation {
    margin-bottom: 10%;
}