html, body {
    background-color: lightgreen;
}

h1 {
    color: lightpink;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-family: "Berkshire Swash";
}

nav {
    margin: 0 auto;
    width: 700px;
    text-align: center;
}

nav a {
    margin-right: 5%;
}

#WIT {
    width: 550px;
    height: 450px;
}

#conv {
    text-align: center;
    font-family: "Berkshire Swash";
    font-size: 27px;
}

#MAR {
    height: 400px;
    width: 400px;
}

#TEQ {
    width: 400px;
    height: 400px;
}

#QUES {
    width: 400px;
    height: 400px;
}

.grid_container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "ingrelist ingrephoto";
}

.ingresub {
    display: inline-grid;
    grid-area: ingrelist;
    text-align: center;
    font-size: 22px;
}

.photosub {
    grid-area: ingrephoto;
    align-content: center;
}

.grid_container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "guacstep mixpic"
}

.prestep {}

.stepstub {
    display: inline-grid;
    grid-area: guacstep;
    align-content: center;
    font-size: 22px;
    margin: 2px;
}

.steppic {
    display: inline-inline-grid;
    grid-area: mixpic;
    align-content: center;
    margin: 2px;
}

.grid_container3 {
    display: grid;
    margin: 10px;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "margpic teqipic quespic"
}

.Margar {
    display: inline-grid;
    grid-area: margpic;
}

.Teqi {
    display: inline-grid;
    grid-area: teqipic;
}

.Ques {
    display: inline-grid;
    grid-area: quespic;
}