html, body {
    background-color: lightgreen;
}

h1 {
    color: lightpink;
    text-align: center;
}

h2 {
    text-align: center;
}

#WIT {
    width: 550px;
    height: 450px;
}

.grid_container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "ingrelist ingrephoto";
}

.ingresub {
    grid-area: ingrelist;
    text-align: center;
}

.photosub {
    grid-area: ingrephoto;
    align-content: center;
}