html,body {
font-family: 'PT Sans', sans-serif;
  margin: 6px;
  background-color: gold;
  text-align: center;
  }

/* .company {
    margin:0px;
    text-align: center;

}
.topic{
    text-align: center;
} */

h1 { text-align: center;
  text-shadow:2px 2px #ECA1A6;
  font-size: 50px;
  margin: 0px
}
tbody{
    text-align: center;
}
#position {text-align: center;
  margin: 0px
}

.ROLE {
    margin: 10px;
    text-align: center;

}
.cololink { color: #eca1a6
}

#lowlife { color: red

}

#SmilePhoto {
  width: 400px;
  margin: center;
}

#lovely {
  color: red;

}

a, a:link { text-decoration: none;
  color: #F9423A;
}

a:visited {
    text-decoration:underline;
  color: red;
}

a:active {
  background-color: green;
}

a:hover {
  color: #3D9970;
}
.spacing {
  margin-right: 30px;
}

.logo {
    margin:4px;
    text-align: center;
}

.Contact {
    text-align: center;
}

.InformME {
    text-align: center;
}
